{% extends "layout/web/web_layout.html" %}

{% block title %}
Home - iHub
{% endblock %}

{% block content %}
<div class="container bg-white p-4 rounded-lg shadow-sm">
    <h1 class="text-center">Welcome to iHub Lab</h1>
    <p class="lead">Where Innovation Meets Technology</p>
    <p>At iHub Lab, we are at the forefront of driving technological innovation in IT Engineering and Data Science. As a dynamic hub, we bring together the brightest minds, cutting-edge research, and industry-leading practices to foster the next generation of engineers and data scientists.</p>
    <div class="container">
        <button class="btn btn-primary">Primary Button</button>
        <button class="btn btn-secondary">Secondary Button</button>
    </div>
</div>
{% endblock %}