{% extends "layout/admin/form_layout.html" %}
{% import "macros/controls.html" as con %}
{% import "macros/forms.html" as frm %}

{% block title %}
Change password
{% endblock %}

{% block breadcrumb %}
    {{ frm.breadcrumb(breadcrumb) }}
{% endblock %}

{% block form_title %}
    {{ frm.form_title("Change password") }}
{% endblock %}

{% block form_body %}
    {{ frm.message(msg) }}
    <form method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-8">
                {{ form.hidden_tag() }}
                {{ con.render_field1(form.username, is_readonly=True) }}
                {{ con.render_field1(form.current_password) }}
                {{ con.render_field1(form.new_password) }}
                {{ con.render_field1(form.confirm_password) }}
                <div class="d-flex flex-row-reverse">
                    {{ form.submit(class="btn btn-primary mb-4") }}
                </div>
            </div>
        </div>
    </form>
{% endblock %}