{% extends "layout/admin/home_page.html" %}

{% block title %}
Panel Home Page
{% endblock %}

{% block content %}
    <div class="row">
        <div class="p-4">
            <h2 class="text-center">iHub Admin Panel</h2>
            <h6 class="text-justify py-5">
                An admin panel (also known as an administration panel or dashboard) is a web-based interface that allows administrators or authorized users to manage, monitor, and control various aspects of a system, website, or application.
            </h6>
        </div>
    </div>
{% endblock %}